<div class="container text-center mt-5">
  <h1 class="marathi-text">рд░рд╛рдЬрдореБрджреНрд░рд╛ рдкреНрд░рддрд┐рд╖реНрдард╛рди рддреБрдордЪреЗ рд╕реНрд╡рд╛рдЧрдд рдХрд░рдд рдЖрд╣реЗ ЁЯЩП</h1>
  <p class="lead">This is a sample landing page built with Rails + Bootstrap.</p>
  <a href="#" class="btn btn-lg btn-success mt-3">Get Started</a>
</div>

<%# <div class="container text-center mt-5">
  <h1 class="display-4 text-primary">Welcome to My Blog ЁЯЪА</h1>
  <p class="lead">This is a sample landing page built with Rails + Bootstrap.</p>

  <a href="#" class="btn btn-lg btn-success mt-3">Get Started</a>
</div>
 %>