@import "bootstrap";  // Bootstrap styles

body {
  background-color: #f8f9fa; // light gray background
}

h1 {
  font-weight: 700;
  letter-spacing: -1px;
}

.btn-success {
  background-color: #28a745;
  border-radius: 30px;
}
